body{background-color: black;
    background-image: URL(https://images.unsplash.com/photo-1557626204-59dd03fd2d31?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: white;
}
    
    h1{display: flex;
    justify-content: center;
    color: white;}
    
    nav{display: flex;
    justify-content: space-around;}
    
    a{text-decoration: none;
        color: white;
    text-decoration: underline;}

    section{
        background-color: rgba(1, 1, 1, .4);
        margin: 1%;
        display: grid;  
        grid-template-rows: auto;
        width: 100%;  
        
    }
    .title{
        padding: 15px;
        margin-left: 30px;
        font-size: 45px;
        margin-bottom: 1px;
    }

    .pictures{
        padding: 1%;
        margin-left: 70%;
    }

    .about-me{
        font-size: 17px;
        margin-left: 5%;
        margin-bottom: 2%;    
    }